html, body {
  width: 240px;
}

.button {
  padding: 2px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}
img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.3s;
}
img:hover {
  opacity: 1.0;
}

.menu_buttons{
  height: 40px;
  padding: 5px;
}

.action:hover {
  background-color: #CFF2F2;
}

.action {
 background-color: #E5F2F2;
}

.clear {
 background-color: #FBFBC9;
}

.clear:hover {
 background-color: #EAEAC9;
}

#textfield{
  width: 180px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #E5F2F2;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #748dd1;
  border-radius: 3.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.95), 0px 0px 0.8px rgba(13, 13, 13, 0.95);
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8ba0d9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #748dd1;
  border-radius: 3.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.95), 0px 0px 0.8px rgba(13, 13, 13, 0.95);
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5d7ac9;
  border: 0px solid #010101;
  border-radius: 7.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #748dd1;
  border: 0px solid #010101;
  border-radius: 7.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.95), 0px 0px 0.8px rgba(13, 13, 13, 0.95);
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #748dd1;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8ba0d9;
}



#text{
  margin: -5px;
}
.list {
  white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;
}

ul {
  list-style-type: none;
  width: 100%;

}
.range:hover {
 background-color: #E5F2F2;
}

.item {
  margin-left: 0;
  margin-right: 0;
  background-size: 20px 20px;
  padding: 2px;
  width: 173px;
  height: 30px;
  float: left;
  display: block;
  text-align: left;
  font-size: 0.7em;
  cursor: pointer;
  background-repeat:no-repeat;
  border-top: 1px solid lightgrey;
  background-position: 2% 50%;
  padding-left: 30px;

}


.item:hover {
  background: #eee;
  cursor: pointer;
  background-position: 5% 50%;
}

.youtube {
  background-image: url('/icons/Youtube.svg');

}
.youtube:hover {
  background: #eee url('/icons/Youtube.svg');
  background-size: 21px 21px;
  background-repeat:no-repeat;
  background-position: 1.5% 50%;

}
.vimeo {
  background-image: url('/icons/Vimeo.svg');

}

.twitch {
  background-image: url('/icons/twitch.svg');

}
.twitch:hover {
  background: #eee url('/icons/twitch.svg');
  background-size: 21px 21px;
  background-repeat:no-repeat;
  background-position: 1.5% 50%;

}

.vimeo:hover {
  background: #eee url('/icons/Vimeo.svg');
  background-size: 21px 21px;
  background-repeat:no-repeat;
  background-position: 1.5% 50%;

}
.mp4 {
  background-image: url('/icons/MP4_icon.svg');
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position: 2% 50%;

}
.mp4:hover {
  background: #eee url('/icons/MP4_icon.svg');
  background-size: 21px 21px;
  background-repeat:no-repeat;
  background-position: 1.5% 50%;

}
* {margin: 0; padding: 0;}


h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li {
  width: 240px;
}

.quere {
  float: right;
  border-left: 1px solid lightgrey;

  background-image: url('/icons/queue.svg');
  margin-left: 0;
  background-size: 20px 20px;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  cursor: pointer;
  background-repeat:no-repeat;
  background-position: center;
}
.quere:hover {
  cursor: pointer;
  background: #eee url('/icons/queue.svg');
  background-size: 21px 21px;
  background-repeat:no-repeat;
  background-position: center;

}
.up{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.down{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.left{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}